DOJO/Service References/ServicoCalculo/Calculos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:61532/Calculos.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:61532/Calculos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Calculos_DoWork_InputMessage">
    <wsdl:part name="parameters" element="DoWork" />
  </wsdl:message>
  <wsdl:message name="Calculos_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="Calculos_PrimeiroDia_InputMessage">
    <wsdl:part name="parameters" element="PrimeiroDia" />
  </wsdl:message>
  <wsdl:message name="Calculos_PrimeiroDia_OutputMessage">
    <wsdl:part name="parameters" element="PrimeiroDiaResponse" />
  </wsdl:message>
  <wsdl:message name="Calculos_PrimeiroAeroporto_InputMessage">
    <wsdl:part name="parameters" element="PrimeiroAeroporto" />
  </wsdl:message>
  <wsdl:message name="Calculos_PrimeiroAeroporto_OutputMessage">
    <wsdl:part name="parameters" element="PrimeiroAeroportoResponse" />
  </wsdl:message>
  <wsdl:message name="Calculos_TodosAeroportos_InputMessage">
    <wsdl:part name="parameters" element="TodosAeroportos" />
  </wsdl:message>
  <wsdl:message name="Calculos_TodosAeroportos_OutputMessage">
    <wsdl:part name="parameters" element="TodosAeroportosResponse" />
  </wsdl:message>
  <wsdl:message name="Calculos_DiasTodosAeroportos_InputMessage">
    <wsdl:part name="parameters" element="DiasTodosAeroportos" />
  </wsdl:message>
  <wsdl:message name="Calculos_DiasTodosAeroportos_OutputMessage">
    <wsdl:part name="parameters" element="DiasTodosAeroportosResponse" />
  </wsdl:message>
  <wsdl:message name="Calculos_DiasPrimeiroAeroporto_InputMessage">
    <wsdl:part name="parameters" element="DiasPrimeiroAeroporto" />
  </wsdl:message>
  <wsdl:message name="Calculos_DiasPrimeiroAeroporto_OutputMessage">
    <wsdl:part name="parameters" element="DiasPrimeiroAeroportoResponse" />
  </wsdl:message>
  <wsdl:portType name="Calculos">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="urn:Calculos/DoWork" message="Calculos_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="urn:Calculos/DoWorkResponse" message="Calculos_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrimeiroDia">
      <wsdl:input wsaw:Action="urn:Calculos/PrimeiroDia" message="Calculos_PrimeiroDia_InputMessage" />
      <wsdl:output wsaw:Action="urn:Calculos/PrimeiroDiaResponse" message="Calculos_PrimeiroDia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrimeiroAeroporto">
      <wsdl:input wsaw:Action="urn:Calculos/PrimeiroAeroporto" message="Calculos_PrimeiroAeroporto_InputMessage" />
      <wsdl:output wsaw:Action="urn:Calculos/PrimeiroAeroportoResponse" message="Calculos_PrimeiroAeroporto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TodosAeroportos">
      <wsdl:input wsaw:Action="urn:Calculos/TodosAeroportos" message="Calculos_TodosAeroportos_InputMessage" />
      <wsdl:output wsaw:Action="urn:Calculos/TodosAeroportosResponse" message="Calculos_TodosAeroportos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DiasTodosAeroportos">
      <wsdl:input wsaw:Action="urn:Calculos/DiasTodosAeroportos" message="Calculos_DiasTodosAeroportos_InputMessage" />
      <wsdl:output wsaw:Action="urn:Calculos/DiasTodosAeroportosResponse" message="Calculos_DiasTodosAeroportos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DiasPrimeiroAeroporto">
      <wsdl:input wsaw:Action="urn:Calculos/DiasPrimeiroAeroporto" message="Calculos_DiasPrimeiroAeroporto_InputMessage" />
      <wsdl:output wsaw:Action="urn:Calculos/DiasPrimeiroAeroportoResponse" message="Calculos_DiasPrimeiroAeroporto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>